#about-me {
  padding: 1.5rem;
  display: flex;
  gap: 2rem;

  img {
    height: 100%;
    border-radius: 16px;
    filter: grayscale(30%);
    transform: scale(1);
    transition: filter 0.3s ease-in-out, transform 0.3s ease-in-out;
    cursor: crosshair;
  }

  img:hover {
    filter: grayscale(0%);
    height: 100%;
    transform: scale(1.03);
  }

  .texto {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    h1 {
      font-size: 3rem;
      margin-bottom: 0.5rem;
      color: var(--dark-color);
    }

    p {
      font-size: 1rem;
      font-weight: 300;
      color: var(--dark-color);

      strong {
        font-weight: 600;
      }
    }
  }
}
