.dark {
  background-color: var(--dark-color);

  /* box-style */
  #container .info {
    border-radius: 25px;
    background: var(--dark-color);
    box-shadow: inset 3px 3px 5px #292929, inset -3px -3px 5px #3d3d3d;
  }

  #container .press {
    border-radius: 25px;
    background: var(--dark-color);
    box-shadow: 3px 3px 5px #292929, -3px -3px 5px #3d3d3d;
    cursor: pointer;
  }

  #projects {
    & #card-container {
      div {
        background: var(--dark-color);
        box-shadow: 2px 2px 5px #292929, -2px -2px 5px #3d3d3d;
      }
    }
  }

  * {
    color: var(--light-color) !important;
  }
}
