#projects {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1rem;

  h3 {
    font-weight: 300;
  }

  #card-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    gap: 0.8rem;

    div {
      padding: 1rem;
      width: 100%;
      height: 100%;
      border-radius: 1rem;
      background: #d8d8d8;
      box-shadow: 2px 2px 5px #afafaf, -2px -2px 5px #e9e9e9;
      display: flex;
      flex-direction: column;
      align-items: end;
      justify-content: space-between;
      cursor: default;

      h4 {
        font-size: 25px;
        font-weight: 600;
      }

      p {
        font-size: 16px;
        font-weight: 300;
      }
    }

    .press img {
      width: 2rem;
      height: auto;
      cursor: pointer;
      transition: transform 0.2s ease-in-out;
    }

    .press img:hover {
      transform: scale(1.1);
    }

    .proximamente {
      justify-content: center;
      align-items: center;
      font-size: 1rem;
      font-weight: 300;
    }
  }
}
