@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;

  
}

:root {
  --dark-color: #242424; /* Variable para el color principal */
  --light-color: #e2e2e2; /* Variable para el color secundario */
  --dark-color: #353535; /* Variable para el DarkMode */
}
