body {
  background: #d8d8d8;
}

#container {
  margin: auto;
  justify-content: center;
  padding: 2rem 0px;
  height: max-content;
  width: max-content;
  min-width: 600px;
  /* background-color: rgb(204, 101, 101); */
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(4, minmax(0, 160px));
  grid-template-rows: repeat(6, minmax(0, 160px));
}

#container > * {
  background-color: darkgray;
  border: 0px black solid;
  border-radius: 16px;
}

#about-me {
  grid-row-start: span 2;
  grid-column-start: span 3;
}

#projects {
  grid-row-start: span 2;
  grid-column-start: span 3;
}

#tecnologias {
  grid-row-start: span 2;
  grid-column-start: span 2;
}
